$tablet-size = 768px
$desktop-size = 1000px


// Exemplo utilizado no grinder
// ========== DEVICES =========
// ============================
// grider-device-phone       = 580px
// grider-device-tablet      = 880px

// ======= MEDIA QUERIES ======
// ============================
// tablet       = "(min-width: " + (grider-device-phone + 1) + ") and (max-width: " + (grider-device-tablet) + ")"
// phone        = "(max-width: " + (grider-device-phone) + ")"
// tablet-phone = "(max-width: " + (grider-device-tablet) + ")"