$azul-claro = #1680a7
$azul-cinza-escuro = #202b31
$azul-cinza-medio = #788c95
$azul-cinza-claro = #a0b2ba
$branco = #fff
$preto = #000
$verde-claro = #6ed5a2

$color-bg-body = $branco
$color-bg-header = $azul-claro
$color-bg-main = $branco
$color-bg-cursos = $azul-cinza-escuro
$color-bg-footer = $azul-cinza-escuro
$color-bg-button = $verde-claro
$color-title-main = $branco
$color-title-secondary = $azul-claro
$color-text = $azul-cinza-medio
$color-link = $verde-claro