@import 'atoms/atom-img'
@import 'atoms/atom-menu'
@import 'atoms/atom-button'
@import 'atoms/atom-text'
@import 'atoms/atom-title'
@import 'atoms/atom-video'




// .atom-img-professor-avatar

// .atom-input
// .atom-input-email



// .atom-text
// .atom-text-cursos
// .atom-text-professor-resumo