@import 'atoms/atoms-img'
@import 'atoms/atoms-menu'


// .atom-img-professor-avatar

// .atom-input
// .atom-input-email

// .atom-button
// .atom-button-matricule-se

// .atom-button-matricule-se-small
// .atom-button-matricule-se-medium
// .atom-button-matricule-se-large

// .atom-title
// .atom-title-primary
// .atom-title-secondary
// .atom-title-section


// .atom-text
// .atom-text-cursos
// .atom-text-professor-resumo