border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

$atom-button
  max-width: 100%
  border: 0
  border-radius 5px
$atom-button-matricule-se
  @extend $atom-button
  background-color: $verde-claro
  color: $branco
  font-size: 0.70rem
  font-weight: 600
  text-transform: uppercase
  letter-spacing: 0.0625*2rem
  padding-top: 6px
.atom-button-matricule-se-small
  @extend $atom-button-matricule-se
  width: 138px
  height: 42px
// .atom-button-matricule-se-medium
// .atom-button-matricule-se-large