// configurações básicas
// usando placeholder para 
// não criar uma classe a mais
$atom-img
  border-image: 10px
  margin: 0
  padding: 0
  display: inline-block
  max-width: 100%
  margin-left: 20px
  width: 80%
  // tamanho padrão p/ telas acima do mobile
  @media (min-width: 600px)
    width: 200px
  @media (min-width: 800px)
    width: 200px

// configurações específicas do logo
.atom-logo-header
  @extend $atom-img
  width: 40%
  @media (min-width: 600px)
    @extend $atom-img
  @media (min-width: 800px)
    @extend $atom-img

// .atom-img-professor-avatar

// .atom-input
// .atom-input-email

// .atom-button
// .atom-button-matricule-se

// .atom-button-matricule-se-small
// .atom-button-matricule-se-medium
// .atom-button-matricule-se-large

// .atom-title
// .atom-title-primary
// .atom-title-secondary
// .atom-title-section

// .atom-link
// .atom-link-menu

// .atom-text
// .atom-text-cursos
// .atom-text-professor-resumo